name: Notify Repository on Published Release

on:
  release:
    types: [published]

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - uses: alihsaas/notify-repository-on-published-release-action@v2
        with:
          payload: '${{ toJson(github.event) }}'
          personal-access-token: ${{ secrets.ALIHSAASS_PERSONAL_ACCESS_TOKEN }}
